/* App.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .container-fluid {
    height: 100vh; /* 100% of the viewport height */
    display: flex;
  }
  
  .sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
  }
  
  .sidebar-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .sidebar-icon {
    margin-right: 10px;
  }
  
  .content {
    width: 80%;
    padding: 20px;
    margin-left: 20%; /* Sidebar width */
    background-color: #f4f4f4; /* Background color for the content area */
    box-sizing: border-box;
  }
  
  /* Center the content vertically and horizontally */
  .content-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  





